<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../share/common/css/base.css">
		<link href="../share/common/css/mui.min.css" rel="stylesheet" />
		<link href="css/forgetPassword.css" rel="stylesheet" />
		<script src="../share/common/js/mui.min.js"></script>
		<script src="../share/common/js/vue.min.js"></script>
		<script src="../share/common/js/HttpConnection.js"></script>
		<script src="../share/common/js/goPage1.js"></script>
		<script src="../share/common/js/_address.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/md5.js"></script>

	</head>
	<style>

	</style>

	<body>
	<div class="YDapp">
		<!--头部-->
		<header class="mui-bar mui-bar-nav header">
			<a class="mui-icon mui-icon-left-nav mui-action-back mui-pull-left" style="color: #FA6814;font-weight: 100;font-size: .3rem;line-height: .4rem;">
			</a>
			<h1 class="mui-title">忘记密码</h1>
		</header>

		<!--主体-->
		<div class="main">
			<div class="phone mui-row">
				<label class="mui-col-xs-1"></label>
				<input class="mui-col-xs-10" id="tel" type="tel" placeholder="请输入您的手机号" @focus.stop="focusss($event)" @blur.stop="blurss($event)">
				<img class="delete" src="images/delete.png" @tap.stop="delete1($event)">
			</div>
			<div class="phone mui-row code">
				<label class="mui-col-xs-1"></label>
				<input class="mui-col-xs-10" id="verify" type="text" placeholder="请输入短信验证码" @focus.stop="focusss($event)" @blur.stop="blurss($event)">
				<img class="delete" src="../share/common/images/delete.png" style="right:1rem" @tap.stop="delete1($event)">
				<button class="codeBtn" @tap.stop="setUp($event)" v-if="isOk==false">获取验证码</button>
				<button class="codeBtn" style="background: #bbb;" v-if="isOk==true">重新发送<span>{{n}}</span></button>
			</div>
			<div class="phone mui-row password">
				<label class="mui-col-xs-1"></label>
				<input class="mui-col-xs-10" id="password" type="password" placeholder="请输入6-20位数字或字母" @focus.stop="focusss($event)" @blur.stop="blurss($event)">
				<img class="delete" src="images/delete.png" style="display: none;">
				<img class="lookPassword" :src="imageNav" @tap.stop="look($event)">
			</div>
			<button class="btn" @tap.stop="set()">提交</button>
		</div>
	</div>

		<script src="js/forgetPassword.js"></script>
		<script type="text/javascript">
			mui.init(); 
			//var vConsole = new VConsole();
		</script>
	</body>

</html>