
/*头部*/

.header {
	width: 100%;
	max-width: 7.5rem;
	min-width: 3.2rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: .6rem;
	background: #fff;
}
.header h1 {
	color: #FA6814;
	height: .6rem;
	line-height: .6rem;
}

.header img {
	width: .4rem;
	height: .4rem;
}
body{
	background: #fff;
}
/*主体*/
.main{
	padding:.6rem .2rem;
}
.phone{
	border-bottom:1px solid #bbb;
	position: relative;
}
.phone input{
	width:80%;
	font-size:0.16rem;
	line-height: .6rem;
	color:#333;
	margin:0;
	padding:0;
	border:none;
	height: .6rem;
}
.phone label{
	background: url(../images/phone.png) no-repeat center center;
	background-size:.3rem;
	padding:.3rem 0;
}
.password{
	margin-top:0rem;
	position: relative;
}
.password label{
	background: url(../images/passward.png) no-repeat center center;
	background-size:.3rem;
	padding: .3rem 0;
}
.lookPassword{
	position: absolute;
	right:0rem;
	top:.05rem;
	width:.3rem;
}
.code{
	margin-top:0rem;
	position: relative;
}
.code label{
	background: url(../../common/images/ma.png) no-repeat left center;
	background-size:.3rem;
	padding:.3rem 0;
}
.codeBtn{
	position: absolute;
	font-size: .16rem;
	color:#fff;
	background: #FA6814;
	line-height: .5rem;
	text-align: center;
	right:0rem;
	top:.02rem;
	width:1rem;
	margin:0;
	padding:0;
	border-radius: .08rem;
	border: 1px solid white;
}
.btn{
	width:90%;
	font-size: .3rem;
	color:#fff;
	line-height: .88rem;
	background: #FA6814;
	border-radius: .15rem;
	margin: 0.45rem 5% 0;
	padding:0;
	border:none;
}
.delete{
	position: absolute;
	width:.3rem;
	right:0rem;
	top:0rem;
	bottom: 0;
	margin: auto;
	opacity: 0;
	z-index: 10;
}























